<h1>About</h1>
<br>
<h3>Welcome to your crypto currency portfolio!</h3>
<h5>Your one stop shop to view all crypto currency investments.</h5>
<br>
<p>Click <%= link_to 'here', cryptos_path %>  to view your list of cryptos</p>
<p>Not logged in? <%= link_to 'Login', new_user_session_path  %></p>
<p>New user? <%= link_to 'Sign up!', new_user_registration_path  %></p>